* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #E6E6E6;
    font-family: "tahoma,verdana";
}

#div1 {
    color: white;
    background-color: #256E43;
    padding: 5px;
    text-align: center;
}

#div2 {
    color: white;
    background-color: #256E43;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

span{
    color: white;
    font-size: 17px;
    margin: 5px;
}

#query button {
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: #7DAB93;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding: 0 2vw;
}

.selector {
    display: inline-block;
    width: 12vw;
    margin: 5px;
    text-align: center;
}

.selector select {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent no-repeat scroll 319px center;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    width: 150px;
    font-size: 13px;
    box-shadow: 1px 1px 11px #d3d3d3;
}

select option {
    background-color: #256E43;
    color: #ffffff;
    opacity: .7;
    z-index: -1;
}

button{
    background-color: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-right: 30px;
    margin-top: 30px;
    font-family: Georgia;
    color: #ffffff;
    width: 150px;
    text-align: center;
    font-size: 19px;
    padding: 0 2vw;
}

#leallit{
    background-color: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-right: 30px;
    margin-top: 30px;
    font-family: Georgia;
    color: #ffffff;
    width: 250px;
    text-align: center;
    font-size: 19px;
    padding: 0 2vw;
}

.kerdesek
{
    background: #eeeeee;
    display: block;
    overflow: auto;
    padding: 10px 0;
    width: 80vw;
    margin: 0 auto;
}

.fejlec {
    width: 90%;
    margin: 10px auto;
    height: 35px;
    background: #256E43;
}

.question {
    border: 1px solid #7DAB93;
    width: 90%;
    margin: 5px auto;
    min-height: 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #7DAB93;
    font-weight: 300;
}

.osszesites {
    width: 90%;
    margin: 10px auto;
    min-height: 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    font-weight: 300;
    background: #256E43;
}

.ker {
    line-height: 20px;
    margin: 0 3vw;
    display: inline-block;
    width: 70%;
    color: #000000;
}

.val{
    line-height: 20px;
    margin: 0 3vw;
    width: 80%;
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    color: #000000;
}

.ossz {
    line-height: 20px;
    margin: 0 3vw;
    display: inline-block;
    width: 70%;
    color: #ffffff;
}

.atlag {
    line-height: 20px;
    margin: 0 3vw;
    display: inline-block;
    color: #000000;
    float: right;
    margin-bottom: 5px;
}

.osszAtlag {
    line-height: 20px;
    margin: 0 3vw;
    display: inline-block;
    color: #ffffff;
    float: right;
}

#class {
    float: left;
    margin-left: 40px;
}

#avg {
    position: absolute;
    right: 30%;
}

#wAvg {
    position: absolute;
    right: 17%
}

#resp {
    position: absolute;
    right: 5%;
}

.classContainer {
    margin: 20px auto;
    width: 90vw;
}



.classHeader {
    position: relative;
    background: #7DAB93;
    -webkit-box-shadow: 0px 2px 7px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 2px 7px 0px rgb(0, 0, 0);
    box-shadow: 0px 2px 7px 0px rgb(0, 0, 0);
    z-index: 1;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
}

.cArrow {
    width: 40px;
    vertical-align: middle;
    float: left;
    height: 50px;
}

.cName {
    float: left;
}

.cProg {
    clear: both;
    position: absolute;
    left: 50%;
}

.cAvg {
    position: absolute;
    right: 30%;
}

.cWAvg {
    position: absolute;
    right: 17%;
}

.cResp {
    position: absolute;
    right: 5%;
}

.qInfoLeft {
    line-height: 35px;
    margin: 0 3vw;
}

.qInfoRight {
    line-height: 35px;
    float: right;
    margin: 0 4vw;
}


#tableView {
    position: absolute;
    width: 100vw;
}

#teacherTableView {
    display: none;
}

#statView {
    display: none;
    position: absolute;
    width: 100vw;
}

#selectionContainer {
    margin: 0 auto;
    width: 70vw;
    overflow: auto;
}

#selectionTypes {
    float: left;
    display: inline-block;
    overflow: auto;
}

.selType {
    margin: 5px 0;
}

.selType input {
    margin: 0 5px;
}

#selectors {
    display: inline-block;
    float: right;
}

.kerdes {
    color: white;
    background-color: #256E43;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 3px 3px 2px #5C5C5C;
}

#kikuldes {
    width: 15px;
    height: 15px;
    position: relative;
    margin: 10px auto;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

#kikuldesLabel
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    color: #ffffff;
    padding: 5px;
}
